.index_img {
  width: 100%;
  height: 90vh;
  background-image: url(../Images/header-dino.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 60%;
  position: relative;
  border-bottom: black 1px solid;
}

.cta-button a {
  background-color: #cc3c25;
  color: white;
  text-decoration: none;
  font-size: 30px;
  width: 400px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 70vh;
  left: 15vw;
  border: black 1px solid;
}

.index_text {
  color: white;
  position: absolute;
  top: 15vh;
  left: 15vw;
  font-size: 50px;
  max-width: 800px;
}

.index_info {
  background-color: #29434e;
  padding: 0 10%;
}

.index_skeleton {
  display: flex;
  align-items: center;
  padding-bottom: 65px;
  padding-top: 65px;
}

.index_skeleton p {
  padding-left: 100px;
  color: white;
  font-size: 3vh;
  flex: 2;
}

.index_earth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 65px;
}

.index_earth p {
  color: white;
  font-size: 3vh;
  flex: 2;
  padding-right: 100px;
}

.index_museum {
  display: flex;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 65px;
}

.index_museum p {
  padding-left: 100px;
  color: white;
  font-size: 3vh;
  flex: 2;
}

.line1 {
  border: white 1px solid;
  width: 100%;
}

.skeletonpicture img {
  /* background-image: url(../Images/skeleton.jpg); */
  max-width: 400px;
  height: 400px;
  background-size: cover;
  border-radius: 95px;
  border: black 2px solid;
  flex: 1;
}

.spacepicture img {
  /* background-image: url(../Images/earth.jpg); */
  max-width: 400px;
  height: 400px;
  background-size: cover;
  border-radius: 95px;
  border: black 2px solid;
  background-position-x: center;
  flex: 1;
}

.museumpicture img {
  /* background-image: url(../Images/musem.jpg); */
  max-width: 400px;
  height: 400px;
  background-size: cover;
  border-radius: 95px;
  border: black 2px solid;
  flex: 1;
}

.smalltext {
  display: none;
}

.index_info h2 {
  color: white;
  text-align: center;
  padding-top: 20px;
  text-decoration: underline;
  font-size: 30px;
}

@media (max-width: 940px) {
  .cta-button a {
    width: 150px;
    height: 35px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
  }
  .index_text {
    display: none;
  }
  .index_skeleton,
  .index_earth,
  .index_museum {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
  }
  .skeletonpicture img,
  .spacepicture img,
  .museumpicture img {
    flex: none;
    width: 250px;
    height: 250px;
    border-radius: 40px;
  }

  .index_earth p,
  .index_museum p,
  .index_skeleton p {
    padding-right: 0;
    padding-left: 0;
    font-size: 15px;
  }

  .index_museum p,
  .index_skeleton p {
    margin-top: 30px;
  }

  .index_earth p {
    padding-bottom: 30px;
  }
  .index_img {
    max-height: 50vh;
  }

  .smalltext {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 10vh;
  }
}

@media (max-width: 425px) {
  .index_img {
    background-position-x: 70%;
    background-position-y: 80%;
  }
}
